@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), /* системна назва шрифту */ local("Raleway-Medium"), /* альтернатива через дефіс */ url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
